body{
    font-family: "Times New Roman", Times, serif;
    width: 95%;
    margin: auto;
    background-color: mintcream;
}

header{
    background-color: mintcream;
    border-bottom: 2px solid rgb(40, 74, 87);
    box-shadow: 0 4px 2px -2px rgb(40, 74, 87);
}

.headerContainer{
    display: flex;
}

#logo{
    flex: 2;
    margin: 20px;
}

h1{
    flex: 6;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

#zegar{
    flex: 2;
    text-align: center;
    font-size: 20px;
    padding: 0px 10px;
}

footer{
    text-align: right;
    padding: 10px 50px;
    position: fixed;
    bottom: 0;
    right: 0;
}

a{
    background-color: rgb(40, 74, 87);
    border: none;
    color: white;
    padding: 12px 20px;
    font-size: 20px;
    cursor: pointer;
    font-family: "Times New Roman", Times, serif;
    text-decoration: none;
    float: right;
}

h2{
    padding: 10px;
}

#logout{
    border-left: 2px solid mintcream;
}

main{
    margin: 80px 0;
}

form{
    margin:auto;
    width: 420px;
}

button{
    background-color: rgb(40, 74, 87);
    color: white;
    padding: 12px 20px;
    font-size: 20px;
    cursor: pointer;
    font-family: "Times New Roman", Times, serif;
    margin: 10px 0;
}

a:hover, button:hover{
    color: black;
}

table, tbody{
    background-color: rgba(255, 255, 255, 0.473);
    box-shadow: 1px 1px 8px 1px rgb(40, 74, 87);
    width: 95%;
    margin: 0 auto;
    border: 1px solid black;
    border-collapse: collapse;
    
}

th{
    padding: 10px 0;
}

td{
    vertical-align: top;
}

th, td{
    border: 1px solid black;
}

tr:last-child{
    position: relative;
}

.meeting{
    background-color: orange;
    margin: 5px;
    box-shadow: 3px 3px 3px gray;
    padding: 5px;
    position: absolute;
    /* display: inline-block; */
    width: 190px;
}

.hour{
    height: 200px;
}

.modify{
    margin: 10px;
    width: 40%;
}