body{
    background-color: mintcream;
    background-image: url("szkola_tlo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Times New Roman", Times, serif;
    width: 95%;
    margin: auto;
}

header{
    background-color: mintcream;
    border-bottom: 2px solid rgb(40, 74, 87);
}

.headerContainer{
    display: flex;
}

#logo{
    flex: 2;
    margin: 20px;
}

#welcome{
    flex: 6;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#zegar{
    flex: 2;
    text-align: center;
    font-size: 20px;
    padding: 0px 10px;
}

h1{
    color: rgb(40, 74, 87);
    font-size: 50px;
}

a{
    background-color: rgb(40, 74, 87);
    border: none;
    color: white;
    padding: 12px 20px;
    font-size: 20px;
    cursor: pointer;
    font-family: "Times New Roman", Times, serif;
    text-decoration: none;
    float: right;
}

main{
    background-color: rgba(255, 255, 255, 0.473);
    padding: 20px;
    height: 600px;
    border-radius: 0px 0px 20px 20px;
}

footer{
    text-align: right;
    padding: 10px 50px;

    position: fixed;
    bottom: 0;
    right: 0;
}


/*############################################*/

.main {
    text-align: center;
}



li {
    background-color: rgb(40, 74, 87);
    border: none;
    color: white;
    padding: 16px 32px;
    font-size: 20px;
    cursor: pointer;
    font-family: "Times New Roman", Times, serif;
    position: center;

    display: inline-block;
    margin: 20px;

}


a:hover {
    color: black;
}